$button-bg: #d54c6a;

:root {
  --love-bg: #fff;
  --love-bg-active: #d54c6a;

  --love-text-color: #3a3d4f;
  --love-text-color-active: #fff;

  --love-border-color: #cecfec;
  --love-border-color-active: var(--love-bg-active);

  --love-icon-fill: #cecfec;
  --love-icon-fill-active: #fff;
}

.loveButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--love-text-color);

  cursor: pointer;

  background-color: var(--love-bg);
  border: 2px solid var(--love-border-color);
  border-radius: 8px;

  transition: all 0.1s linear;

  &:before,
  &:after {
    position: absolute;
    left: -20%;
    z-index: -1000;
    display: block;
    width: 140%;
    height: 100%;
    content: "";

    background-repeat: no-repeat;

    transition: all ease-in-out 0.5s;
  }

  &:before {
    top: -75%;
    display: none;

    background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
      15% 15%, 10% 10%, 18% 18%;
  }

  &:after {
    bottom: -75%;
    display: none;

    background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
      20% 20%;
  }

  &.animate,
  &:active {
    color: var(--love-text-color-active);

    background-color: var(--love-bg-active);
    border-color: var(--love-border-color-active);

    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);

    transition: all 0.1s linear;
    transform: scale(0.9);

    .loveButton-heart {
      fill: var(--love-icon-fill-active);
    }

    .loveCount {
      color: var(--love-text-color-active);
    }
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

.loveButton-heart {
  margin-right: 8px;

  fill: var(--love-icon-fill);
  transition: all 0.2s linear;
}

.loveButton:hover .loveButton-heart {
  animation: pulse 0.5s infinite alternate;
}

.loveCount {
  color: $button-bg;

  love-page-button:not([compact]) & {
    margin-left: 8px;
  }
}

love-page-button[compact] .buttonText {
  display: none;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
