<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>

    <style>
      body {
        padding: 20px 20px;
      }
    </style>
  </head>
  <body>
    <love-page-button url="http://example.com"></love-page-button>
    <love-page-button compact></love-page-button>

    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
